.admin-container {
  height: 135vh;
  background-color: #f1f1f1;
}

.user-list-container {
  /* Styles for the user list container */
  height: 40vh; /* Set the desired height for the container */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.admin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* VIDEO CARD */

.video-card {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  width: 45%; /* Adjust the width to make the video card smaller */
  background-color: #374151;
}

.dark .video-card {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  width: 45%; /* Adjust the width to make the video card smaller */
  background-color: #1f2937;
}

.dark .video-card h3 {
  color: white;
  margin: 10px 0;
  font-size: 20px;
}

.video-card h3 {
  color: white;
  margin: 10px 0;
  font-size: 20px;
}

.video-hidden p {
  font-style: italic;
  color: #999 !important;
}

.dark .video-card p {
  font-size: 14px;
  margin: 10px 0;
  color: white;
}

.video-card p {
  font-size: 14px;
  margin: 10px 0;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 160px;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-btn {
  background-color: #F1F1F1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.dropdown-btn {
  font-size: 20px;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-btn::before {
  content: "\22EE";
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #F1F1F1;
}

.watch-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.watch-btn:hover {
  background-color: #3e8e41;
}

.admin-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list {
  width: 25vw;
  background-color: white;
  padding: 2vh 3vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user-item:hover {
  background-color: #f1f1f1;
}

.user-item.selected {
  background-color: #e0e0e0;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  width: 50vw;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.admin-video-list {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.admin-video-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.admin-video-list p {
  font-size: 16px;
  margin-bottom: 5px;
}

.user-actions {
  margin-top: 20px;
}

.edit-btn,
.delete-btn,
.ban-btn {
  padding: 10px 20px;
  margin-right: 10px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn {
  background-color: #4caf50;
}

.edit-btn:hover {
  background-color: #45a049;
}

.ban-btn {
  background-color: #ff9800;
}

.ban-btn:hover {
  background-color: #f57c00;
}

.delete-btn {
  background-color: #f44336;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.connect-link {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  background-color: #1f2937;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Dark mode styles */
.dark .admin-container {
  background-color: #222;
  color: #fff;
}

.dark .user-list {
  background-color: #222;
  color: #fff;
}

.dark .user-item {
  border: 1px solid #fff;
}

.dark .user-item:hover {
  color: #222;
}

.dark .user-details {
  background-color: #333;
  color: #fff;
}

/* Pannel style */
.panel {
  color: #202020;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
}

.panel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}

.panel .item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.panel .item:hover {
  background-color: grey;
  color: white;
}

.panel .item.active {
  background-color: black;
  color: white;
}