.panel {
  color: #202020;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
}

.panel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}

.panel .item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.panel .item:hover {
  background-color: grey;
  color: white;
}

.panel .item.active {
  background-color: black;
  color: white;
}