/* Soufian (15 avril 2023) */

.dark .channel-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #313338;
    padding: 20px;
    border-radius: 5px;
}

.channel-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}


h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dark h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.channel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-link {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #1f2937;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Style for create channel button */
  .create-channel-btn {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    margin: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-channel-btn:hover {
    background-color: #0b7dda;
  }

  /* Pannel style */
  .panel {
    color: #202020;
    height: 56px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .panel .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .panel .item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .panel .item:hover {
    background-color: grey;
    color: white;
  }
  
  .panel .item.active {
    background-color: black;
    color: white;
  }