.comment-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.comment-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 5px;
  width: 65%;
  margin-top: -145px; /* Adjust the margin-top value as desired */
}

.comment-list {
  text-align: left;
  margin: auto;
}

.comment-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Updated to flex-start */
  align-items: left; /* Added */
  margin: 10px 0; /* Updated margin */
}

.comment-author {
  font-weight: bold;
  margin-right: 1000px;
}

.comment-content {
  flex-grow: 1;
  text-align: left; /* Updated to left */
  margin-right: 700px;
}


.comment-date {
  font-size: 12px;
  color: #999;
}

.comment-input {
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.comment-submit-button {
  border: none;
  outline: none;
  background-color: #065fd4;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.comment-cancel-button {
  border: none;
  outline: none;
  background-color: #fff;
  color: red;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.comment-actions {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.connect-link {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  background-color: #1f2937;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
