.comment-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.comment-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 5px;
  width: 65%;
  margin-top: -145px;
}

.comment-list {
  text-align: left;
  padding-right: auto;
  width: 65%;
}

.comment-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.comment-content {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.comment-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  margin-right: 10px;
  align-self: flex-start; /* Added to align author at the top */
}

.comment-date {
  font-size: 12px;
  color: #999;
  align-self: flex-start; /* Added to align date at the top */
}

.comment-input {
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.comment-submit-button {
  border: none;
  outline: none;
  background-color: #065fd4;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.comment-cancel-button {
  border: none;
  outline: none;
  background-color: #fff;
  color: red;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.comment-actions {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.connect-link {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  background-color: #1f2937;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* New CSS */

.comment-info-container {
  display: flex;
  align-items: flex-start;
}

.comment-info-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-color: #fff
}

.comment-input-container {
  display: flex;
  align-items: center;
}

.profile-icon-wrapper {
  flex-shrink: 0;
  margin-right: 10px;
}
