.comment-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.comment-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  width: 70%;
  margin: 0 auto;
}

.comment-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.comment-submit-button {
  border: none;
  outline: none;
  background-color: #065fd4;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.comment-cancel-button {
  border: none;
  outline: none;
  background-color: #fff;
  color: red;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.comment-list {
  margin-top: 10px;
}

.comment-item {
  margin-top: 10px;
}

.comment-author {
  font-weight: bold;
}

.comment-content {
  margin-top: 5px;
}

.connect-link {
    display: block;
    margin: 0 auto;
    font-size: 1épx;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }