/* Soufian (22 avril 2023) */

.input-div {
    margin-bottom: 3vh;
}

.input-title {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    margin-top: 0px;
    font-weight: bold;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 35%;
}

.icon-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video-thumbnail {
    width: 500px;
}

.save-btn {
    padding: 5px 15px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.save-btn:hover {
    background-color: #006C9B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}