/* Soufian (15 avril 2023) */

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dark .input-title {
    color: white;
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    margin-top: 0px;
    font-weight: bold;
}

.input-title {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    margin-top: 0px;
    font-weight: bold;
}

.save-btn {
    padding: 5px 15px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.save-btn:hover {
    background-color: #006C9B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.banner-container {
    width: 50%;
    position: relative;
    display: inline-block;
}

.icon-container {
    width: 20%;
    position: relative;
    display: inline-block;
}

.banner-image {
    margin: auto;
    object-fit: cover;
    cursor: pointer;
}

.channel-icon {
    object-fit: cover;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.channel-icon ~ .upload-icon {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.banner-image ~ .upload-icon {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 35%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

.banner-container:hover .upload-icon,
.icon-container:hover .upload-icon {
  opacity: 1;
}

.success-message {
    margin-top: 10px;
    color: green;
}