.connect-link {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .dark .profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #374151;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }

  .icon-container {
    width: 20%;
    position: relative;
    display: inline-block;
  }
  
  .profile-icon ~ .upload-icon {
    position: absolute;
    top: 50%;
    left: 32%;
    width: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .icon-container:hover .upload-icon {
    opacity: 1;
  }

  .profile-username {
    font-size: 24px;
    margin: 0;
  }
  
  .profile-email {
    margin: 0;
    color: #666;
  }

/* Style for video upload button */  
  
  /* Style for video card */
  
  .video-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
    
  /* Style for create channel button */
  .create-channel-btn {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    margin: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-channel-btn:hover {
    background-color: #0b7dda;
  }

  /* Style for the watch button */

  .watch-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .watch-btn:hover {
    background-color: #3e8e41;
  }

  .delete-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .delete-btn:hover {
    background-color: #8B0000;
  }

/* Style options */
  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-size: 20px;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 160px;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:99;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  color: #000;
}

.dropdown-btn::before {
  content: "\22EE";
}

/* Soufian - 10 juin 2023 : Profile Design */

.profile-container {
  background-color: #f2f2f2;
}

.profile-infos {
  display: flex;
  flex-direction: column;  
}

.account-buttons {
  display: flex;
  flex-direction: row;
}

.profile-username {
  font-size: 24px;
  margin: 10px 0;
}

.deactivate-button,
.delete-button {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #f44336;
  border-radius: 4px;
  cursor: pointer;
}

.deactivate-button {
  background-color: #ff9800;
}

.delete-confirmation {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.confirm-delete-button,
.cancel-delete-button {
  padding: 8px 20px;
  margin: 0 5px;
  font-size: 14px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-delete-button {
  background-color: #f44336;
}
