.connect-link {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #212121;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-username {
    font-size: 24px;
    margin: 0;
  }
  
  .profile-email {
    margin: 0;
    color: #666;
  }

/* Style for video upload button */  
  
  /* Style for video card */
  .video-card {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 5px;
    overflow: visible;
  }
  
  .video-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .video-card h3 {
    font-size: 16px;
    margin: 10px;
  }
  
  .video-card p {
    font-size: 14px;
    margin: 10px;
    color: #777;
  }
  
  /* Style for create channel button */
  .create-channel-btn {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    margin: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-channel-btn:hover {
    background-color: #0b7dda;
  }

  /* Style for the watch button */

  .watch-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .watch-btn:hover {
    background-color: #3e8e41;
  }

  .delete-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .delete-btn:hover {
    background-color: #8B0000;
  }

/* Style options */
  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-size: 20px;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 160px;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:99;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  color: #000;
}

.dropdown-btn::before {
  content: "\22EE";
}