.Thumbnail-image {
    width: 100%;
    margin: auto;
}

.thumbnail-container {
    width: 40%;
    margin: auto;
}

.Thumbnail-image ~ .upload-icon {
    position: absolute;
    top: 115%;
    left: 50%;
    width: 10%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.thumbnail-container:hover .upload-icon {
    opacity: 1;
}
