.personalized-page {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .video-container {
    width: 80%;
    margin-right: 2%;
  }
  
  .chat-container {
    width: 28%;
  }
  
  .comment-list {
    height: 80vh;
    overflow-y: scroll;
  }
  
  .comment {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .comment-input {
    margin-top: 10px;
  }
  
  .comment-input input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
  }