.dark .main-video-card {
    padding-bottom: 1vh;
    background-color: #1f2937;
}

.main-video-card {
    padding-bottom: 1vh;
    background-color: #374151
}

.image-placeholder {
    width: 100%;
    height: auto;
}


.video-title {
    height: 8vh;
    color: white;
}

.main-video-card p {
color: white;
}