.video-page {
  display: flex;
  flex-direction: row;
}

.video-container {
  width: 70%;
  margin-right: 2%;
}

.video-content {
  width: 100%;
}

.chat-container {
  width: 35%;
  margin-right: 2%;
}

.dark .video-details {
  margin-top: 20px;
  color: #fff;
  background-color: #313338;
}

.video-details {
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
}


.dark .new-video-title {
  margin-top: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.new-video-title {
  margin-top: 20px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.video-views {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.channel-components {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.channel-icon-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dark .channel-name-button {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.channel-name-button {
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video-description {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.video-details-box {
  background-color: #ccc;
  padding: 5px;
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
