.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  width: 50%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
}